@import url("AllAroundF1.css");

#account {
	margin-left: 80px;
	padding: 16px;
	width: calc(100% - 80px);
	height: 100vh;
	min-height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.user-profile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		min-width: 1024px;
		margin: 32px;

		.user-info {
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: row;

			.user-avatar {
				width: 128px;
				height: 128px;
				border-radius: 50%;
				margin-right: 16px;
				background-color: var(--primary-color);

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			.user-details {
				display: flex;
				justify-content: start;
				align-items: start;
				flex-direction: column;

				h3 {
					font-size: 32px;
					margin: 0;
					margin-bottom: 6px;
					color: var(--yellow-text-color);
				}

				p {
					font-size: 15px;
					margin: 0;
					color: var(--secondary-text-color);
				}
			}
		}
	}

	.account-card {
		background-color: var(--primary-color);
		border-radius: var(--border-radius);
		min-width: 1024px;

		.account-card-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			margin: 16px 24px;

			h3 {
				font-size: 24px;
				margin: 0;
			}

			img {
				width: 24px;
				height: auto;
			}
		}

		.account-card-content {
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: column;

			.account-card-row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				width: calc(100% - 48px);
				margin: 8px 24px;

				p {
					letter-spacing: 1.1;
				}

				.account-card-row-dx {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-direction: row;

					.password {
						margin-right: 11px;
						i {
							font-size: 28px;
							margin-right: -22px;
						}
					}

					.i-button {
						width: 24px;
						height: 24px;
						margin-left: 8px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: transparent;

						i {
							color: var(--yellow-text-color);
						}

						&:hover {
							background-color: #fcfcfc27;
						}
					}
				}
			}

			.account-card-row:last-child {
				margin-bottom: 16px;
			}
		}
	}

	.exit {
		color: var(--red-text-color);
		font-size: 20px;
		cursor: pointer;
		margin-top: 16px;
		text-decoration: none;

		&:hover {
			color: var(--red-secondary-text-color);
		}
	}
}
