@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
/* ICONS <script src="https://kit.fontawesome.com/3c72c243fa.js" crossorigin="anonymous"></script> */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
	--primary-color: #303030;
	--secondary-color: #da2119;
	--tertiary-color: #f8e936;
	--quaternary-color: #181818;

	--primary-text-color: #fcfcfc;
	--secondary-text-color: #a3a3a3;

	--red-text-color: #da2119;
	--red-secondary-text-color: #9d0000;

	--yellow-text-color: #f8e936;
	--yellow-secondary-text-color: #968b00;

	--error-color: #ff0000;
	--success-color: #43a701;
	--warning-color: #ff9100;

	--main-font: "SF Pro Display", sans-serif;
	--title-font-size: 42px;
	--subtitle-font-size: 35px;
	--xxxl-font-size: 39px;
	--xxl-font-size: 24px;
	--xl-font-size: 20px;
	--l-font-size: 17px;
	--m-font-size: 14px;
	--s-font-size: 12px;
	--xs-font-size: 10px;

	--border-radius: 24px;
	--box-shadow: 2px 4px 12px #00000014;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-font);
}

html,
body {
	min-height: 650px;
	min-width: 1200px;
}

.red-text {
	color: var(--red-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-text-color);
	font-weight: 400;
	margin-block: 0;
	margin-inline: 0;
}

h1 {
	font-size: var(--title-font-size);
}

h2 {
	font-size: var(--subtitle-font-size);
}

h3 {
	font-size: var(--xxxl-font-size);
}

h4 {
	font-size: var(--xxl-font-size);
}

h5 {
	font-size: var(--xl-font-size);
}

.scrollable-section {
	overflow-y: auto;
}

.scrollable-section::-webkit-scrollbar {
	width: 8px;
}

.scrollable-section::-webkit-scrollbar-track {
	background: #f1f1f100;
}

.scrollable-section::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

.scrollable-section::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.button-invisible-background {
	background-color: transparent;
	border: none;
	color: var(--primary-text-color);
	cursor: pointer;
	font-size: var(--m-font-size);
	outline: none;
	padding: 4px 4px;
	text-align: center;
	border-radius: var(--border-radius);

	&:hover {
		background-color: #00000027;
		color: var(--yellow-text-color);
	}
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--quaternary-color);

	.logo-load {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100px;
			height: 100px;
		}
	}
}

.line {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #fcfcfc2f;
}

.button-invisible-background {
	background-color: transparent;
	border: none;
	color: var(--primary-text-color);
	cursor: pointer;
	font-size: var(--m-font-size);
	outline: none;
	padding: 4px 4px;
	text-align: center;
	border-radius: var(--border-radius);

	&:hover {
		background-color: #00000027;
		color: var(--yellow-text-color);
	}
}

.button-primary {
	background-color: var(--secondary-color);
	border: none;
	color: var(--primary-text-color);
	cursor: pointer;
	font-size: var(--m-font-size);
	outline: none;
	padding: 8px 16px;
	text-align: center;
	border-radius: var(--border-radius);
	transition: all 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

.button-squadrato{
	border-radius: 8px;
	border: 3px solid var(--tertiary-color);
	background-color: transparent;
	color: var(--tertiary-color);
	font-weight: 500;
	letter-spacing: 1;
	padding: 4px 32px;

	&:hover {
		transform: scale(1.05);
		background-color: var(--tertiary-color);
		color: var(--primary-color);
	}
}

.button-outline {
	background-color: transparent;
	border: 2px solid var(--primary-text-color);
	color: var(--primary-text-color);
	cursor: pointer;
	font-size: var(--m-font-size);
	outline: none;
	padding: 8px 16px;
	text-align: center;
	border-radius: var(--border-radius);
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--primary-text-color);
		color: var(--primary-color);
		border-color: none;
		transform: scale3d(1.1, 1.1, 1.1);
	}
}

.green-button {
	background-color: var(--success-color);
	color: var(--primary-text-color);

	&:hover {
		background-color: #4fc500;
	}
}

.red-button {
	background-color: var(--red-text-color);
	color: var(--primary-text-color);

	&:hover {
		background-color: #d9534f;
	}
}

.small-button {
	padding: 4px 8px;
}

.overlay {
	display: none;
	position: relative;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.616);
}

.screen-overlay {
	display: none;
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.616);
}

.open-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: auto;
	height: auto;
	background-color: var(--primary-color);
	color: var(--primary-text-color);
	border-radius: var(--border-radius);
	padding: 16px;
	min-width: 300px;

	.popup-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--secondary-text-color);
		border: 0;

		h3 {
			font-size: var(--xl-font-size);
			color: var(--primary-text-color);
		}

		i {
			cursor: pointer;
			font-size: var(--xl-font-size);
		}
	}

	.popup-content {
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: column;
		min-height: 100px;

		input[type="file"] {
			display: none;
		}

		form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;

			.form-img {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;

				img {
					margin: 16px;
					max-height: 200px;
					max-width: 400px;
					height: auto;
					width: auto;
				}

				.custom-file-upload {
					display: inline-block;
					padding: 6px 12px;
					cursor: pointer;
					color: white;

					&:hover {
						background-color: #00000027;
						border-radius: var(--border-radius);
					}
				}
			}

			.form-buttons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				width: 100%;

				.custom-file-upload {
					display: inline-block;
					padding: 6px 12px;
					cursor: pointer;
					color: white;

					&:hover {
						background-color: #00000027;
						border-radius: var(--border-radius);
					}
				}
			}
		}
	}
}

input[type="text"],
[type="password"],
[type="email"], [type="date"], [type="number"]{
	background-color: transparent;
	color: var(--primary-text-color);
	border: none;
	border-bottom: 0.5px solid var(--secondary-text-color);
	transition: all 0.2s ease;
	padding-bottom: 2px;
	font-size: var(--l-font-size);

	&:focus {
		outline: none;
		border-bottom: 2px solid var(--tertiary-color);
	}

	&.invalid {
		border-bottom: 2px solid var(--error-color);
	}

	&.valid {
		border-bottom: 2px solid var(--success-color);
	}
}

::selection {
    background: var(--secondary-color);
    color: var(--primary-text-color);
}

.line {
	height: 2px;
	width: 100%;
	background-color: var(--secondary-text-color);
}

.search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 3px solid var(--tertiary-color);

	input {
		background-color: transparent;
		border: transparent;
		color: var(--primary-text-color);
		font-size: var(--m-font-size);
		outline: none;
		width: 100%;
	}

	i {
		color: var(--tertiary-color);
		font-size: var(--m-font-size);
	}
}