.fa-arrow-trend-up {
  color: var(--success-color);
}

.fa-arrow-trend-down {
  color: var(--error-color);
}

.table-header{
  background-color: var(--error-color);
  p:nth-child(1) {
    width: 50px;
  }

  p:nth-child(n+2) {
    width: 15%;
  }
}

.table-body{
  span:nth-child(1) {
    width: 50px;
  }

  span:nth-child(n+2) {
    width: 15%;
  }
}