@import url("AllAroundF1.css");

#dynamic-dashboard{
    .dynamic-dashboard-card{

        &:hover {
            box-shadow: 2px 4px 16px #00000029;
            transform: scale3d(1.01, 1.01, 1.01);

            .list{
                .list-footer {
                    .list-link {
                        border-color: var(--tertiary-color);
                        i {
                            color: var(--tertiary-color);
                        }
                    }
                }

                .list-header {
                    color: var(--tertiary-color);
                }
            }
        }
    }
}